.yx-about-container {
  padding-top: 65px;
  padding-bottom: 90px; }
  .yx-about-container .container {
    border: 1px solid #cecece;
    padding: 70px 100px; }

.yx-banner {
  background: url("banner.png") no-repeat center center; }

.yx-about-container .container .yx-assign {
  float: right; }

.yx-about-container .container h1 {
  margin: 70px 0; }

.yx-about-container .container p {
  margin-bottom: 20px;
  line-height: 1.8; }

.yx-about-container .container .yx-logo-big {
  margin-top: 80px;
  margin-bottom: 20px; }
