@import "banner";

$base-height: 210px;

.yx-history {
  background: url("history-background.png") no-repeat center center;
  padding-top: 140px;
  padding-bottom: 90px;
}

.yx-history-item {
  height: $base-height;
  $base-color: #fff;
  color: $base-color;

  .yx-history-string {
    height: $base-height;
    $circle-with: 18px;
    $line-1-height: 10px;
    $line-2-height: $base-height - $circle-with - $line-1-height;
    position: relative;
    width: $circle-with;

    @mixin common-for-line {
      background-color: $base-color;
      margin: 0 auto;
      width: 1px;
    }

    .yx-history-line-1 {
      @include common-for-line;
      height: $line-1-height;
    }

    .yx-history-line-2 {
      @include common-for-line;
      height: $line-2-height;
    }

    .yx-history-circle {
      background-color: $base-color;
      width: $circle-with;
      height: $circle-with;
      -webkit-border-radius: $circle-with/2;
      -moz-border-radius: $circle-with/2;
      border-radius: $circle-with/2;
    }
  }

  .yx-history-content {
    width: 400px;
    margin-left: 10px;
    margin-right: 100px;

    h1 {
      margin-top: 2px;
      margin-bottom: 25px;
    }
  }

  &:first-child .yx-history-line-1, &:last-child .yx-history-line-2 {
    background-color: transparent;
  }

  .yx-img-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 20px 7px 0;
    border-color: transparent $base-color transparent transparent;
    position: relative;
    top: 20px;
  }

  .yx-img-container {
    background-color: $base-color;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-width: 235px;
    padding: 14px 12px;
  }
}
