@import "product-list";

.yx-jumbotron {
  height: 400px;
  background: url(list-banner.png) no-repeat center center;
  .yx-jumbotron-container {
    margin-top: 100px;
    margin-left: 680px;
    width: 350px;

    h1 {
      padding-bottom: 20px;
      border-bottom: 1px solid #e1e1e1;
    }

    p {
      margin-bottom: 30px;
    }

    .btn {
      padding: 11px 29px;
      border-color: #9f9f9f;
      color: #000;
      border-radius: 3px;
    }
  }
}

.yx-product-filter {
  padding: 35px 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  .yx-choose-bar {
    //width: 80%;
    margin: 0 auto;
    .yx-item {
      //padding: 0;
      width: 20%;

      .yx-list-item-name {
        cursor: default;
        font-size: 16px;
        padding: 25px 0;
        border: 1px solid #f5f5f5;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
      }

      .yx-list-item-choose {
        margin: 0;
        padding: 15px 0;
        border-bottom: 1px solid #f5f5f5;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        opacity: 0.01;
        visibility: hidden;

        .yx-choose-item {
          //cursor: pointer;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -ms-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          &:hover, &.active {
            color: #00746b;
          }
        }
      }

      &:hover .yx-list-item-name, &.active .yx-list-item-name {
        background-color: #00746b;
        border-color: #00746b;
        color: #fff;
        & a {
          color: #fff;
          &:hover {
            text-decoration: none;
          }
        }
      }

      &:hover .yx-list-item-choose, &.active .yx-list-item-choose {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
