@import 'variables';
.yx-header {
  height: 100px;
  padding: {
    top: 30px;
    bottom: 15px;
  }
  background-color: $header_footer_color;
  ul {
    margin: {
      top: 33px;
    }
    li {
      margin-right: 65px;
      //padding-bottom: 10px;
      &:hover, &.active {
        border-bottom: 1px solid #fff;
      }
      a {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        height: 30px;
      }
    }
  }
}
