@mixin learn-more-btn {
  background-color: transparent;
  //font-weight: bold;
}

%index-icon {
  background: url(index-icon.png) no-repeat;
  display: inline-block;
}

$icon-cross-width: 111px;

// 十字形图标
.icon-cross {
  @extend %index-icon;
  width: $icon-cross-width;
  height: $icon-cross-width;
  background-position: 0 -100px;
}

// 人形图标
.icon-man {
  @extend %index-icon;
  width: 49px;
  height: 73px;
  background-position: 0 0;
}

// 信封图标
.icon-letter {
  @extend %index-icon;
  width: 73px;
  height: 73px;
  background-position: -60px 0;
}

// 齿轮图标
.icon-gear {
  @extend %index-icon;
  width: 71px;
  height: 72px;
  background-position: -140px 0;
}

// 礼物图标
.icon-gift {
  @extend %index-icon;
  width: 82px;
  height: 71px;
  background-position: -220px 0;
}

// slider 的箭头图标
%icon-arrow {
  @extend %index-icon;
  width: 12px;
  height: 20px;
  background-position-y: -100px;
}

// 左箭头
%icon-arrow-left {
  @extend %icon-arrow;
  background-position-x: -140px;
}

// 右箭头
%icon-arrow-right {
  @extend %icon-arrow;
  background-position-x: -220px;
}
