@import "banner";
.yx-faq-container {
  padding-top: 60px;
  $pane-boder: 14px;

  .yx-panel-content {
    border-top: 1px dotted #378d82;
    padding-top: 20px;
  }

  .yx-collapse-in .panel-heading {
    background-color: #b6d7ce;
  }

  .yx-panel-left {
    width: 50px;
    color: #02746c;
  }

  .yx-panel-right {
    width: 850px;
  }

  .panel {
    margin-bottom: 30px;
    border-radius: $pane-boder;
    border-color: #378d82;
  }

  .panel-body {
    padding-top: 0;
    padding-bottom: 25px;
    border-top: none !important;
  }

  .panel-heading, .panel-body {
    padding-left: 50px;
    padding-right: 40px;
  }

  .panel-heading {
    padding-top: 23px;
    padding-bottom: 23px;
    border-radius: $pane-boder;
  }
}
