@import "banner";
.yx-main-container {
  padding-top: 60px;
  .yx-main-method {
    margin-bottom: 40px;
    padding: 40px 60px;
    border: 15px solid #b6d7ce;

    .yx-pic {
      float: right;
    }

    h3 {
      color: #00746b;
      margin-top: 0;
      margin-bottom: 45px;
    }

    p {
      padding-left: 25px;
      width: 440px;
    }
  }
}
